<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServletAccount</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateArticle</servlet-name>
        <servlet-class>Servlet.CreateArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Blogcontrol</servlet-name>
        <servlet-class>Servlet.Blogcontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCourseControl</servlet-name>
        <servlet-class>Course.DetailCourseControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>AdminControl.AdminPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcourse</servlet-name>
        <servlet-class>Course.Addcourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServletAccount</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/REG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateArticle</servlet-name>
        <url-pattern>/AddAriticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Blogcontrol</servlet-name>
        <url-pattern>/BLOG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCourseControl</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/AdminPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcourse</servlet-name>
        <url-pattern>/Addcourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Home.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
