.main-content {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    line-height: 1.6;
}

figcaption,
menu,
article,
aside,
details,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.main-content-wrapper {
    margin: 0 20px;
    position: relative;
}

section {
    display: block;
}

.content-body {
    margin-right: 330px;
    position: relative;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.post-list-header {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

div {
    display: block;
}

.timeline-left-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.timeline-left {
    width: 80px;
    display: table-cell;
    position: relative;
}

.timeline-left-wrapper:before {
    content: '';
    position: absolute;
    left: 39px;
    width: 1px;
    border-left: dotted 1px #CCC;
    top: 0;
    bottom: 0;
}

.timeline-item {
    display: table;
    width: 100%;
}

.timeline-item:first-child .timeline-right {
    padding-top: 0;
}

.timeline-post-image img {
    display: block;
}

.timeline-post-content {
    display: table-cell;
    padding-left: 20px;
}

.timeline-right a {
    color: #333;
    text-decoration: none;
}

.timeline-category-name {
    display: inline-block;
    font-size: 10px;
    padding: 4px 8px;
    border: solid 1px #EEE;
    text-transform: uppercase;
}

.timeline-post-info {
    font-size: 12px;
    color: #999;
}

img {
    border-style: none;
}

.timeline-right {
    display: table-cell;
    padding: 15px 0;
}

.timeline-item:first-child .timeline-right {
    padding-top: 0;
}

.timeline-post-image {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.w-header {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}


/* slidebar */

.load-more {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 0;
    margin: 30px 0;
}

.content-sidebar {
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
}

.sidebar_inner {
    width: 300px;
}

.widget-item {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.sidebar_inner {
    width: 300px;
    position: fixed;
    top: -208.75px;
}

.w-boxed-post ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    border-radius: 2px;
    border: solid 1px #EEE;
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.w-boxed-post ul li {
    display: block;
    width: 100%;
    border-bottom: solid 1px #EEE;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.w-boxed-post ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    border-radius: 2px;
    border: solid 1px #EEE;
    overflow: hidden;
}

.w-boxed-post ul li {
    display: block;
    width: 100%;
    border-bottom: solid 1px #EEE;
}

.w-boxed-post ul li a {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    text-decoration: none;
    line-height: 1.2;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.w-boxed-post ul li a .box-wrapper {
    display: table;
    background-color: #f6f6f6;
}

.w-boxed-post ul li a .box-wrapper .box-left {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}

.w-boxed-post ul li a .box-wrapper .box-right {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 10px 20px 0;
}

.post-list-header .frm-input {
    width: auto;
    float: right;
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
}

.frm-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 14px;
    border: solid 1px #CCC;
    border-radius: 2px;
    outline: none;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

user agent stylesheet select:not(:-internal-list-box) {
    overflow: visible !important;
}

user agent stylesheet select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.w-boxed-post ul li.active a .box-wrapper,
.w-boxed-post ul li:hover .box-wrapper {
    background-color: rgba(0, 0, 0, .3);
}

.w-boxed-post ul li a .box-wrapper {
    display: table;
    background-color: #f6f6f6;
}

.w-boxed-post ul li a .box-wrapper .box-left {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}

.w-boxed-post ul li a .box-wrapper .box-right {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 10px 20px 0;
}

.w-boxed-post ul li a .box-wrapper .box-right .p-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
}

.w-boxed-post ul li a .box-wrapper .box-right .p-icons {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    opacity: .5;
}

.w-boxed-post ul li a .box-wrapper .box-left span {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    text-align: center;
    line-height: 32px;
    font-weight: 700;
    font-size: 16px;
    background-color: #FFF;
    border: solid 1px #EEE;
    color: #333;
}.w-boxed-post ul li a .box-wrapper .box-right .p-title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.timeline-right a {
    color: #333;
    text-decoration: none;
}
a {
    color: #dc2430;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
user agent stylesheet
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.w-boxed-post ul li.active a, .w-boxed-post ul li:hover a {
    color: #FFF;
}